<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">
                        In my 20 years of experience as an IT-consultant, I helped many companies improve their daily operations using a wide range of tools. I strive to match business problems with the latest and most adequate technologies in order to provide usable, efficient and maintainable solutions.

                        My current focus is on hybrid mobile development with React-Native and related tools
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/han1.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1998-2007</h4>
                                    <h4 class="subheading">Consulting for Microsoft Partners</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Consulting and development of web and desktop apps for a SMEs in northern Germany for a Microsoft Partner consultancy.
                                        I handled the complete development and client communication with dozens of clients, from banks, to textile manufacurers, banks, reeders and many others.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/urjc.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2004 - 2006</h4>
                                    <h4 class="subheading">Bachelor of Science (BSc.)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">While working as a consultant, i studied Computer Science in Hannover (Germany) and Madrid (Spain) with a focus on 3d applications and the Semantic Web.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/ub.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2006 - 2008</h4>
                                    <h4 class="subheading">Master of Science (MSc.)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In parallel to continuing my consultant activity, i finished two Master of Science. MSc. with focus on secure information systems in Hannover (Germany) and one MSc. for Articifical Intelligence in Barcelona (Spain).</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009 - 2011</h4>
                                    <h4 class="subheading">Freelance work</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I worked on severl projects, including in the role of lead developer for the Dubai Airports Website (SharePoint) and also as lead contractor for several start-ups (Python + Django)</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/manila.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011 - 2017</h4>
                                    <h4 class="subheading">Work for devex.com</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        As the first technical employee in the Barcelona office, i helped set up the team of over a dozen highly skilled members using agile processes and a transparent, growth oriented culture.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/diabetes.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017 - 2019</h4>
                                    <h4 class="subheading">Mobile Lead</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        Starting fall 2017, i took over the position of mobile lead for multinational biotech/healthcare company where we worked on projects to improve the life of diabes patients.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/phone.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Starting 2019</h4>
                                    <h4 class="subheading">Freelance Mobile Development</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        In January 2019 I created yaneq.com to help clients develop and deliver high quality mobile applications.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
