<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">What we can do for you.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Mobile App Development</h4>
                    <p class="text-muted">
                        High quality mobile applications, that work on Android and iPhones out of the box.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-fire fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Realtime Backend</h4>
                    <p class="text-muted">
                        Custom made backend APIs that can integrate into your existing solutions or set up as green-field all your app users to collaborate in real-time.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">App Distribution</h4>
                    <p class="text-muted">
                        We take care of the whole delivery cycle of your new app, from the inception to the automated tests, builds and beta releases.
                    </p>
                </div>
            </div>
        </div>
    </section>
